<% cache("views/shared/footer", :expires_in => 1.hour) { %>
  <div class='footer bar'>
    <div class='bass_clef'></div>
    
    <div class='credits'>
      <p><%= t 'footer.copyright' %></p>
      <p><%= link_to t('footer.tiredpixel'), "http://www.tiredpixel.com" %></p>
    </div>
    
    <div class='links'>
      <p><%= link_to(t('legal.title'), legal_path) %></p>
    </div>
  </div>
<% } %>

