<% content_for :left do %>
  <%= render :partial => "shared/about" %>
  
  <%= render :partial => "shared/score", :locals => { :music => "\\relative c' { c d8 e f g a b c1 }", :preview => "scores/eg1.png", :midi => nil } %>
  
  <%= render :partial => "shared/score", :locals => { :music => "\\relative c { \\clef bass \\key c \\minor \\time 3/4 <c ef g> <c ef f> <c d f> <b d f> <c c,>2 }", :preview => "scores/eg2.png", :midi => nil } %>
<% end %>

<% content_for :right do %>
  <div class='main'>
    <%= render :partial => "scores/form" %>
  </div>
<% end %>

