<% content_for :middle do %>
  <h1>tunefl ♮ Finally, music for social-networking.</h1>
  
  <h3>The orchestra is tuning.<br />Follow us, to get a good seat in time for the opening notes.</h3>
  
  <a href="https://twitter.com/tunefl" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @tunefl :)</a>
  
  <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
<% end %>

