<% content_for :title do %>
  <%= t('legal.title') %> | <%= t('title') %>
<% end %>

<% content_for :left do %>
  <div class='legal main'>
    <h2><%= t 'legal.cookies.title' %></h2>
    <p><%=raw t 'legal.cookies.body' %></p>
  </div>
<% end %>

