/* = colors */

/* http://colorschemedesigner.com/#0051Tw0sCw0w0 */

@color-p-1: #E40000;
@color-p-2: #AB2B2B;
@color-p-3: #940000;
@color-p-4: #F23C3C;
@color-p-5: #F26D6D;

@color-sa-1: #E46700;
@color-sa-2: #AB652B;
@color-sa-3: #944300;
@color-sa-4: #F28E3C;
@color-sa-5: #F2A96D;

@color-sb-1: #B70067;
@color-sb-2: #89225C;
@color-sb-3: #770043;
@color-sb-4: #DB3794;
@color-sb-5: #DB63A7;

@color-w: #FFFFFF;
@color-b: #000000;


/* = main */

.clear {
  clear: both;
}

html, body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url("background.png");
  background-attachment: fixed;
  padding-top: 0;
  color: @color-b;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  word-wrap: break-word;
}

a,
a:hover {
  color: @color-p-1;
}


/* = main */

.main {
  background-color: #E9D8C9;
  background-color: rgba(233, 216, 201, .8);
  box-shadow: 1px 1px 5px @color-sa-2;
  margin-bottom: 25px;
  padding: 25px;
}


/* = bar */

.bar {
  background-image: url("bar_background.png");
  background-attachment: fixed;
  box-shadow: 1px 1px 5px @color-sb-2;
  margin-bottom: 25px;
}


/* = header */

.header {
  height: 150px;
  position: relative;
  
  .logo {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 228px;
    height: 100px;
    z-index: 1;
  }
  
  .treble_clef {
    position: absolute;
    top: 0;
    right: 25px;
    background-image: url("header_treble_clef.png");
    background-repeat: no-repeat;
    width: 80px;
    height: 150px;
    z-index: 0;
  }
}


/* = footer */

.footer {
  height: 100px;
  position: relative;
  
  .bass_clef {
    position: absolute;
    bottom: 0;
    left: 25px;
    background-image: url("footer_bass_clef.png");
    background-repeat: no-repeat;
    width: 96px;
    height: 100px;
    z-index: 0;
  }
  
  .addthis_toolbox {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 242px;
    z-index: 1;
  }
  
  .credits {
    position: relative;
    padding: 25px;
    text-align: center;
    color: @color-sb-5;
    z-index: 1;
    
    a {
      color: inherit;
    }
    
    a:hover {
      text-decoration: underline;
      color: inherit;
    }
  }
  
  .links {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: @color-sb-5;
    z-index: 1;
    
    p {
      margin: 0;
      
      a {
        color: inherit;
      }
      
      a:hover {
        text-decoration: underline;
        color: inherit;
      }
    }
  }
}


/* = statics */

.content {
  text-align: center;
  
  h1 {
    color: @color-sb-3;
  }
  
  h3 {
    color: @color-sb-4;
    margin: 1em;
  }
}

